*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.page {
  display: flex;
  min-block-size: 100%;
  align-items: center;
  justify-content: center;
}

.content {
  display: grid;
  grid-template-columns: 1fr 420px;
  align-items: end;
  column-gap: 24px;
}

.content__details {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.search-form {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
}

.search-form__fieldset {
  flex: 1 1 0;
}

.content__list-container {
  block-size: 320px;
  overflow: auto;
}

.result {
  inline-size: 100%;
}
